  
  <div class="col-xs-3 col-sm-3 sidebar-offcanvas fixed-menu-right" id="sidebar">
    <div class="list-group" data-spy="affix" data-offset-top="0" >
      <a href="index.html" class="list-group-item">Overview</a>
      <a href="api.html" class="list-group-item">API</a>
      <a href="#" class="list-group-item">Link</a>
      <a href="#" class="list-group-item">Link</a>
      <a href="#" class="list-group-item">Link</a>
      <a href="#" class="list-group-item">Link</a>
      <a href="#" class="list-group-item">Link</a>
      <a href="#" class="list-group-item">Link</a>
      <a href="learn.html" class="list-group-item">Tutorials</a>
      <a href="learn.html" class="list-group-item">Videos</a>
    </div>
  </div><!--/.sidebar-offcanvas-->