---
---

/*****************************************************************************/
/*
/* TEMPORARY - FOR DEVELOPMENT, TO MAKE THE PAGE SCROLLABLE 
/*
/*****************************************************************************/

body {
	height: 2000px;
}

/*****************************************************************************/
/*
/* TYPOGRAPHY
/*
/*****************************************************************************/

 @import url(http://fonts.googleapis.com/css?family=Ubuntu:300,400);

/*****************************************************************************/
/*
/* GENERAL STYLING
/*
/*****************************************************************************/

// Colors

$ct-green: #00ba9f;
$ct-yellow: #ffba27;

// .row-padding - to push it below the fixed nop nav 

.row-padding-top {
	padding-top: 60px;
}

// Fonts

body {
	font-family: 'Ubuntu', sans-serif;
	font-weight: 400;
}

/*****************************************************************************/
/*
/* NAVIGATION
/*
/*****************************************************************************/

.developers-logo::before {
	content: url("/assets/img/ct_logo.png");
}

.developers-logo {
	padding: 0 15px;
	font-size: 16px;
}

.ct-nav {
	background: white;
	border-bottom: none;
	margin-bottom: 0;
}

.navbar-inverse .navbar-brand {
	color: black;
}

.navbar-inverse .navbar-brand:focus {
	color: $ct-green;
}

.navbar-inverse .navbar-brand:hover {
	color: $ct-green;
}

.navbar-inverse .navbar-nav li a {
	color: black;
}

.navbar-inverse .navbar-nav li a:focus {
	color: $ct-green;
}

.navbar-inverse .navbar-nav li a:hover {
	color: $ct-green;
}

// Collapsed navigation

.navbar-inverse .navbar-toggle {
	background-color: $ct-green;
}

// Progress Bar

#container {
  	height: 2px;
  	width: 100%;
  	position: fixed;
}

#container #progress-bar {
    position: relative;
    height: 100%;
    width: 0%;
    background: #00BA9F; 
}

/*****************************************************************************/
/*
/* FIXED RIGHT MENU / SIDEBAR
/*
/*****************************************************************************/

#sidebar {
	padding-top: 60px;
}

.fixed-menu-right a {
	border: none;
	background: none;
}

.fixed-menu-right a:hover {
	background: none;
	border-left: 2px solid $ct-yellow;
	border-radius: 0;

}

.fixed-menu-right a:focus {
	background: none;
}

.list-group-item.active {
	background: none;
	color: #000;
	border-left: 2px solid $ct-yellow;
	border-radius: 0;
}

.list-group-item.active:hover {
	background: none;
	color: #000;
	border-left: 2px solid $ct-yellow;
}

.list-group-item {
	padding: 5px 15px;
	border-radius: none;
}

/*****************************************************************************/
/*
/* LEARN PAGE
/*
/*****************************************************************************/

.tutorial-library a {
	color: black;
	text-decoration: none;
}

.tutorial-library a:hover {
	color: $ct-green;
	text-decoration: none;
}

/*****************************************************************************/
/*
/* TUTORIAL PAGE 
/*
/*****************************************************************************/

.tutorial-diagram {
	padding: 0 0 10px;
}

/*****************************************************************************/
/*
/* MEDIA QUERIES 
/*
/*****************************************************************************/

@media screen and ( max-width: 767px) {
	.fixed-menu-right {
		display: none;
	}
}
















