---
---

/*****************************************************************************/
/*
/* TEMPORARY - FOR DEVELOPMENT
/*
/*****************************************************************************/

body {
	height: 10000px;
}

/*****************************************************************************/
/*
/* GENERAL STYLING
/*
/*****************************************************************************/



/*****************************************************************************/
/*
/* COLORS
/*
/*****************************************************************************/

$ct-green: #00ba9f;
$ct-yellow: #ffba27;

/*****************************************************************************/
/*
/* NAVIGATION
/*
/*****************************************************************************/

.developers-logo::before {
	content: url("/assets/img/ct_logo.png");
}

// .developers-logo {
// 	padding: 5px;
// }

.ct-nav {
	background: white;
	border-bottom: none;
	position: relative;
	margin-bottom: 0;
}

.navbar-inverse .navbar-brand {
	color: black;
}

.navbar-inverse .navbar-brand:focus {
	color: $ct-green;
}

.navbar-inverse .navbar-brand:hover {
	color: $ct-green;
}

.navbar-inverse .navbar-nav li a {
	color: black;
}

.navbar-inverse .navbar-nav li a:focus {
	color: $ct-green;
}

.navbar-inverse .navbar-nav li a:hover {
	color: $ct-green;
}

/*****************************************************************************/
/*
/* FIXED RIGHT MENU
/*
/*****************************************************************************/

.fixed-menu-right a {
	border: none;
	background: none;
}

.fixed-menu-right a:hover {
	background: none;
	border-left: 2px solid $ct-yellow;
}

.fixed-menu-right a:focus {
	background: none;
}

.list-group-item.active {
	background: none;
	color: #000;
	border-left: 2px solid $ct-yellow;
}

.list-group-item.active:hover {
	background: none;
	color: #000;
	border-left: 2px solid $ct-yellow;
}

.list-group-item {
	padding: 5px 15px;
	border-radius: none;
}

/*****************************************************************************/
/*
/* LEARN PAGE
/*
/*****************************************************************************/

.tutorial-library a {
	color: black;
	text-decoration: none;
}

.tutorial-library a:hover {
	color: $ct-green;
	text-decoration: none;
}

/*****************************************************************************/
/*
/* FOOTER
/*
/*****************************************************************************/



















