      
{% include header.html %}

<div class="row row-offcanvas row-offcanvas-right">

  <div class="col-xs-9 col-sm-9 main-content">
    <p class="pull-right visible-xs">
      <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
    </p>

    <div class="row">
      <div class="col-md-12 text-center">
        <h1>Tutorials</h1>
      </div>
      <div class="col-md-12 tutorial-library">
        <ul>
          <li><a href="tutorial.html">How to create a product bundle</a></li>
          <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros</li>
          <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros</li>
          <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros</li>
        </ul>
      </div>
      <div class="col-md-12 text-center">
        <h1>Videos</h1>
      </div>
      <div class="col-md-6">
        <video width="320" height="240" controls>
          <source src="movie.mp4" type="video/mp4">
          <source src="movie.ogg" type="video/ogg">
          Your browser does not support the video tag.
        </video>
      </div>
      <div class="col-md-6">
        <video width="320" height="240" controls>
          <source src="movie.mp4" type="video/mp4">
          <source src="movie.ogg" type="video/ogg">
          Your browser does not support the video tag.
        </video>
      </div>
    </div><!--/row-->




  </div><!--/.col-xs-12.col-sm-9-->




{% include sidebar.html %}

</div><!--/row-->

{% include footer.html %}

    